@import "./_variables";
@import "./avatar";
@import "./dropdown";
@import "./reactContextMenu";
@import "./topBar";
@import "./categoryList";
@import "./postList";
@import "./postEditor";

.imota {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .item-link {
    display: block;
    color: #333;
    text-decoration: none;
    transition: .2s;
    &:hover {
      opacity: 0.7;
    }
  }
}
