@import "./_variables";

.login {
  .policy-link {

  }
  .login-form {
    margin-top: 20px;
  }
  .policy-check {
    margin-top: 6px;
  }
  .policy-link {
    margin-left: 8px;
    font-size: 13px;
  }
  .loading {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7);
  }
}
