@import "./_variables";

$ring-width: 0.5rem;

.pronunciation-activity-view {
  .hidden {
    display: none;
  }

  .course-info {
    .mentor-photo {
      float: left;
      width: 3.4rem;
      height: 3.4rem;
      margin-right: 1.5rem;
      border-radius: 50%;
    }
    .course-label {
      line-height: 3.4rem;
    }
  }

  .course-content {
    word-break: break-word;
    padding: 0.5rem;
    .pronunciation-symbol {
      margin: 1.8rem 0 1.25rem;
    }
    ol {
      padding-left: 1.25rem;
      li {
        color: $light-grey;
        margin-bottom: 1.25rem;
        font-size: 0.9rem;
      }
    }

    .reading-pronunciation {
      text-align: center;
    }
  }

  .fight-boss {
    width: 67%;
    margin: 0 auto;
    .form-group {
      label {
        margin-right: 0.5rem;
      }
      input {
        padding-left: 0.5rem;
        border-radius: 1.75rem;
        outline: none;
        border: 0.0625rem solid #e0f0ff;
        background: #e0f0ff;
      }
    }
  }

  .icon-voice-mute:before,
  .icon-voice:before {
    color: #F28318;
    font-size: 1.375rem;
  }
  .loading-mask {
    font-size: 4rem;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
  }
}

.sound-button {
  display: inline-block;
  width: 7.5rem;
  height: 3.625em;
  background: url('/img/icon-sound.png') no-repeat;
  background-size: cover;
}
a.action-button {
  display: inline-block;
  width: $round-btn-size;
  height: $round-btn-size;
  background: $dark-blue;
  color: #FFF;
  line-height: $round-btn-size;
  border-radius: 50%;
  text-decoration: none;
  position: relative;
}
a.record-button {
  display: inline-block;
  width: $round-btn-size;
  height: $round-btn-size;
  background: $dark-blue;
  color: #FFF;
  line-height: $round-btn-size;
  border-radius: 50%;
  font-size: $round-btn-size / 2;
  position: relative;
  .icon-mic {
    margin-left: 0.12rem;
    margin-top: -0.1rem;
  }
  &.recording {
    background: $green;
    &:after {
      position: absolute;
      content: ' ';
      width: $round-btn-size + 2 * $ring-width;
      height: $round-btn-size + 2 * $ring-width;
      background: #a3eb9a;
      border-radius: 50%;
      z-index: -1;
      top: -$ring-width;
      left: -$ring-width;
      animation: breathing 2.6s infinite linear;
    }
    &:before {
      position: absolute;
      content: ' ';
      width: $round-btn-size + 4 * $ring-width;
      height: $round-btn-size + 4 * $ring-width;
      background: #eaf6e7;
      border-radius: 50%;
      z-index: -2;
      top: -2 * $ring-width;
      left: -2 * $ring-width;
      animation: breathing 2.6s infinite linear;
    }
  }
}
@keyframes breathing {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
a.rework-button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  font-size: 50%;
  line-height: 2rem;
  top: 0.5rem;
  left: 5.3rem;
  background: #94cbff;
}
.upload-button {
  display: inline-block;
  width: 2.875rem;
  height: 2.875rem;
  background: url('/img/icon-upload.png') no-repeat;
  background-size: cover;
}

.activity-item {
  width: 100%;
}

.progress-bar{
  height: 0.625rem;
  border-radius: 0.5rem;
  margin: 0.9375rem 0;
  background: #d9d9f1;
  position: relative;
  div{
    opacity: 1!important;
    div {
      position: absolute!important;
      z-index: 2;
      height: 0.625rem !important;
      background-image: inherit !important;
      background: #72AEFF;
      border-radius: 0.625rem !important;
      box-shadow: none !important;
    }
  }
}
