@import "./_variables";
.skill-list {
  .avatar-link {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    .dropdown-toggle {
      &:after {
        content: none;
      }
    }
    .dropdown-menu {
      &:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        top: -1.25rem;
        left: 0.6875rem;
        border-color: transparent;
        border-style: solid;
        content: " ";
        border-top-width: 0;
        border-bottom-color: #fff;
        border-width: 0.625rem;
      }
      &:before {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        top: -1.375rem;
        left: 0.625rem;
        border-color: transparent;
        border-style: solid;
        content: " ";
        border-top-width: 0;
        border-bottom-color: rgba(0,0,0,0.15);
        border-width: 0.6875rem;
      }
    }
  }
  .slogan {
    margin: 4.5rem 0 2.5rem;
    color: $light-nlack;
  }
  .skill-link {
    margin: 0 1.5rem 1.5rem;
    font-size: 1.5rem;
    display: block;
    border-radius: 1.5rem;
    text-decoration: none;
    color: $white;
    overflow: hidden;
    > img {
      width: 100%;
      max-width: 21rem;
    }
  }
}
