<% script('/js/login.js') -%>
<% stylesheet('/css/login.css') -%>
<% title = '登录 | Wind教口语' %>

<div class="login">
  <% include partials/topBanner %>
  <div class="container">
    <form class="login-form" id="login-form" method="post">
      <% include partials/loginWithMobile %>
    </form>
    <div class="bottom-nav">
      <!-- <a href="/account/register/">没有帐号</a> -->
      <span class="spliter"></span>
      <!-- <a href="/account/forgot/">忘记密码</a> -->
      <span class="text-danger">在微信中登录并设置手机号后才可以用网页登录</span>
    </div>
  </div>
  <div class="loading" style="display: none;">
  </div>
</div>
