<% script('/js/register.js') -%>
<% stylesheet('/css/register.css') -%>
<% title = '注册 | Wind教口语' %>

<div class="register">
  <% include partials/topBanner %>
  <div class="container">
    <form class="register-form" id="register-form" method="post">
      <% include partials/registerWithMobile %>
    </form>
    <div class="bottom-nav">
      <a href="/account/login/">已有帐号</a>
    </div>
  </div>
  <div class="loading" style="display: none;">
  </div>
</div>
